.wrapper {
    .title {
        font-size: 56px;
        font-weight: bold;
    }

    .header {
        margin: 32px auto;
    }

    .action {
        padding: 8px;
        border: 1px solid #e0e0e0;
        border-left: 0;
        border-right: 0;
    }
}
