@font-face {
    font-family: 'Proxima Nova';
    font-weight: normal;
    font-style: normal;
    src:
        url('./assets/fonts/mark_simonson_-_proxima_nova_soft_regular-webfont.eot'), 
        url('./assets/fonts/mark_simonson_-_proxima_nova_soft_regular-webfont.eot?#iefix') format('embedded-opentype'), 
        url('./assets/fonts/mark_simonson_-_proxima_nova_soft_regular-webfont.woff') format('woff'), 
        url('./assets/fonts/mark_simonson_-_proxima_nova_soft_regular-webfont.ttf') format('truetype'), 
        url('./assets/fonts/mark_simonson_-_proxima_nova_soft_regular-webfont.svg#proxima_nova_softregular') format('svg');
}

body {
    font-family: "Proxima Nova", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 16px;
}

a {
    text-decoration: none !important;
    :hover {
        text-decoration: none !important;
    }
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}